body {
  background: linear-gradient(
    to right,
    rgb(240, 240, 240) 0%,
    rgb(240, 240, 240) 50%,
    rgb(60, 0, 60) 50%,
    rgb(170, 0, 170) 100%
  );
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

.left {
  float: left;
  padding-left: 25%;
  padding-top: 12%;
}

.right {
  align-items: center;
  float: right;
  padding-right: 25%;
  padding-top: 12%;
}

input {
  width: 100%;
}
