body {
  background: linear-gradient(
    to right,
    rgb(230, 230, 230) 0%,
    rgb(230, 230, 230) 50%,
    rgb(60, 0, 60) 50%,
    rgb(170, 0, 170) 100%
  );
}

.left {
  float: left;
}

.right {
  float: right;
}
