body {
  background-image: url("./circuit-pattern.png");
  background-repeat: repeat;
  background-color: rgb(117, 48, 181);
}

nav {
  background-color: rgb(38, 218, 107);
}

.navbar-brand {
  font-family: "SEGA LOGO FONT", sans-serif;
  font-size: xx-large;
  font-weight: lighter;
}

.card {
  width: 30%;
  border-radius: 10px;
  margin-top: 12rem;
  left: 10vh;
  margin-right: 20px;
  display: inline-block;
  background-image: url("./card-pattern.png");
  background-color: rgb(18, 147, 147);
  text-align: center;
}

img {
  width: 80%;
  margin-top: 20px;
  background-color: grey;
  border-radius: 50%;
}

.container {
  padding: 2px 16px;
}
