<!--
    Each posts is composed of:
    1. a link that redirects the user to the specific post in the website https://www.thefactsite.com/
    2. the publication date, creator, category and content of the post
-->
<div class="posts_container"></div>
