html,
body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.row {
  height: 25%;
  width: 100%;
}

.row > * {
  display: inline;
}

.item {
  top: 200px;
}

.item > img {
  width: 40px;
  height: 60px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

#devName,
#copyright {
  display: inline-block;
}

#devName {
  margin-left: 25%;
}

#copyright {
  margin-right: 25%;
}
